.search-bar{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-input{
    border-radius: 3px;
    font-size: 24px;
}

.search-btn{
    background-color: #F49D37;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 3px;

}

.user-wrapper{
    margin-top: 10px;
}

.search-header{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
}

.info-section{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    padding: 20px;
   
}

.user-info{
    flex-direction: column;
    /* justify-content: center; */
    /* padding-left: 80px; */
 
}
.user-img-search{
    width: 250px;
    height: 250px;
    border-radius: 30%;
    
}

.user-text{
    align-items: baseline;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    padding-top:150px;
    
}