/* USER */

.user-section{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.user-img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-username{
    font-size: 20px;
    font-weight: 600;
}

.create-post{
    width: 100%;
}


